@using Sample1.Models
@model ConvertModel
@{
    ViewData["Title"] = "Submitted";
}

    <div>
        <label asp-for="Number"></label>
        @Model.Number
    </div>

    <div>
        <label asp-for="Number2"></label>
        @Model.Number2
    </div>

    <div>
        <label asp-for="Date"></label>
        @Model.Date
    </div>
